/* styles/globals.css */
@font-face {
  font-family: 'Designer';
  src: url('/fonts/DESIGNER.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    background: #15151e;
    overflow-x: hidden;
    font-family: 'Designer', sans-serif;
}
